.btn {
  color: blue;
  margin: 1rem 1rem 0 1rem;
}
th {
  padding-left: 7.5rem;
  padding-right: 0;
  background-color: red;
  height: 3rem;
  border: 1px solid green;
  width: 20%;
}

th:first-child {
  padding-left: 0;
}

th:last-child {
  padding-right: 0;
}
